@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.wrapper {
    width: 100vw;
    margin: auto;
}

.header {
    overflow: auto;
    width: 75vw;
    margin: 1em auto;
}

h1.logo {
    text-transform: uppercase;
    width: 50vw;
    float: left;
}

h1.logo a {
    font-family: 'Oswald', sans-serif;
    color: #96746b;
    text-decoration: none;
}
.header ul {
    width: 50vw;
    float: left;
    text-align: right;
    padding-top: 1em;
}

.header ul li {
    display: inline-block;
    margin-left: 1em;
}

.header ul a {
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
}