@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.wrapper {
    width: 100vw;
    margin: auto;
}

.header {
    overflow: auto;
    width: 75vw;
    margin: 1em auto;
}

h1.logo {
    text-transform: uppercase;
    width: 50%;
    float: left;
}

h1.logo a {
    font-family: 'Oswald', sans-serif;
    color: #96746b;
    text-decoration: none;
}
.header ul {
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 1em;
}

.header ul li {
    display: inline-block;
    margin-left: 1em;
}

.header ul a {
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
}

.banner {
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 670px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
    width: 45%;

}

.banner-text h2 {
    color: #96746b;
    font-size: 4em;
    text-transform: uppercase;

}

.banner-text h2 span {
    color: #c7a17a;
}

.banner-text p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.banner a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #312a26;
    font-weight: 700;
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}


.ads {
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}

.ads-items {
    width: 48.5%;
    float: left;
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 3%;

}

.ads1 {
    margin-right: 3%;
    background-image: url(../img/ads-img1.jpg);
}

.ads2 {
    background-image: url(../img/ads-img2.jpg);
}

.ads3 {
    margin-right: 3%;
    background-image: url(../img/ads-img3.jpg);
}

.ads4 {
    background-image: url(../img/ads-img4.jpg);
}

.ads5 {
    margin-right: 3%;
    background-image: url(../img/ads-img5.jpg);
}

.ads6 {
    background-image: url(../img/ads-img6.jpg);
}
.ads-text {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateY(-50%);
    width: 40%;
}
.ads-items h3 {
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px #312a26;
}

.ads-items a {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;

}

.merch {
    width: 85%;
    margin: 4em auto;
}

.merch-header {
    text-align: center;

}

.merch-header span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #c7a17a;
}

.merch-header h2 {
    text-transform: uppercase;
    color: #312a26;
}

.merch-header hr {
    background-color: #c7a17a;
    height: 2px;
    width: 25%;
    margin: auto;
}

.merch-gallery {
    margin-top: 2em;
    overflow: auto;
}
.merch-items {
    width: 24.25%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}

.merch-items:nth-child(4), 
.merch-items:nth-child(8) {
    margin-right: 0;
}

.merch-items img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
/*start of the discount banner*/

.discount {
    width: 85%;
    margin: 4em, auto;
    background-image: url(../img/discount-img.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative;
}

.discount-text {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.discount-text span {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-style: italic;
    text-shadow: 3px 3px 6px #312a26;

}

.discount-text h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
}

.discount-text a {
    text-transform: none;
    display: inline-block;
    padding: 1em;
    background-color: rgba(255, 255, 255, .5);
    color: #312a26;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}

.reservation {
    width: 85%;
    margin: 4em auto;
}

.form {
    overflow: auto;
}

.form-group {
    margin-top: 2em;
    background-color: #f2f2f2;
    float: left;
    width: 49.5%;
    border-radius: 5px;
    padding: 2em;
    height: 650px;
}

.form-group:nth-child(1) {
    margin-right: 1%;
}

form input, form label, form select, form textarea {

    display: inline-block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin-bottom: 1em;
}

form label {
    font-weight: 700;
    padding: 0;
    margin-bottom: .5em;
}

.res-time {
    text-align: center;
}

.rest-time * {
    width: auto;
}

form p {
    margin: 1em;
    text-align: center;
    font-weight: 700;
}

form h3{
    text-align: center;
    text-transform: uppercase;
}

form h3::after {
    content: "";
    background-image: url(../img/reservation-cards.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 30px;
    margin: auto;
}

.res-agreement * {
    width: auto;
}

form input[type="submit"] {
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
}

/*Footer Area*/
.footer {
    background-image: url(../img/footer-img.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-contents {
    width: 85%;
    float: left;
    margin-right: 1%;
}

.footer-contents:nth-child(4) {
    margin-right: 0;
}

.footer-widgets h3 {
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
}

.footer-widgets h4 {
    color: #fff;
}

.footer-widgets p {
    color: #c7a17a;
}

.footer td, th {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 6px #312a26;
}

.footer-form {
    width: auto;
}

.footer-social {
    color: white;
    background-color: #19100f;
    overflow: auto;
    padding: 1em 7.5%;
}

.social-widget {
    width: 32.66%;
    float: left;
    text-align: center;
}

.social-widget h3 {
    text-transform: uppercase;
}

.social-widget img {
    width: 1.5em;
}